%loading {
  opacity: 0.7;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  animation: skeleton-loading 3s linear infinite reverse;
}
@keyframes skeleton-loading {
  0% {
    background-position: -468px 0;
    color: #cfc7c7;
  }

  100% {
    background-position: 468px 0;
    color: #4c4545;
  }
}